.editable-table-row-container {
  position: relative;
  display: contents;
  transition: all .1s ease-in-out;
  cursor: pointer;

  .edit-section {
    transition: all .15s ease-in-out;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    background: darkgrey;
    top: 0;
    transform: translateY(-90%);
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    opacity: 0;
    cursor: default;
    box-shadow: 0 0 14px -6px black;
  }

  &.red .table-row {
    animation-duration: 1.75s;
    animation-name: toRed;
  }
  &.green .table-row {
    animation-duration: 1.75s;
    animation-name: toGreen;
  }
  @keyframes toRed {
    from { background-color: rgba(255,0,26,0.05) }
    to { background-color: initial }
  }
  @keyframes toGreen {
    from { background-color: rgba(178,255,202,0.16) }
    to { background-color: initial }
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }
  .todo-button {
    margin: 0 10px;
  }
  .button-icon {
    width: 23px;
    margin-right: 10px;
    display: none;
  }
  .save-icon {
    width: 20px;
  }
  .todo-button, .button-icon {
    transition: all .15s ease-in-out;
  }
  .button-icon:hover {
    transform: scale(1.25);
  }

  .todo-button:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 1000px) {
    .todo-button {
      display: none;
    }
    .button-icon {
      cursor: pointer;
      display: initial;
    }
  }

}

.edit-mode.editable-table-row-container {
  transform: scale(1.02);
}
.edit-mode-popup .edit-section {
  opacity: 1;
}
.edit-section todo-form {
  margin: 10px;
}
