.editable-table-row-container {
  display: table-row-group;
  position: relative;
  transition: all .1s ease-in-out;
  cursor: pointer;

  &.edit-mode {
    transform: scale(1.02);
  }

  .edit-section {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    background: darkgrey;
    top: 0;
    transform: translateY(-90%);
    width: -webkit-fill-available;
    cursor: default;
    box-shadow: 0 0 14px -6px black;

    &.bigger {
      animation-duration: 0.3s;
      animation-name: toBig;
    }
    &.smaller {
      animation-duration: 0.75s;
      animation-name: toSmall;
    }
    @keyframes toBig {
      from { opacity: 0 }
      to { opacity: 1 }
    }
    @keyframes toSmall {
      from { opacity: 1 }
      to { opacity: 0 }
    }
  }

  .form {
    margin: 0.5vh;
  }

  .w-m-a {
    width: -moz-available;
  }

  .w-f-a {
    width: fill-available;
  }

  .buttons-container {
    display: flex;
    align-items: center;

    .popup-button {
      margin: 0.5vmin 10px;

      &:hover {
        transform: scale(1.1);
      }

      &-icon {
        width: 3vmin;
        margin-right: 2.5vmin;
        display: none;

        &.save-icon {
          width: 2.8vmin;
        }

        &:hover {
          transform: scale(1.25);
        }
      }
    }

    .popup-button, .popup-button-icon {
      transition: all .15s ease-in-out;
    }

    @media screen and (max-width: 1024px) {
      .popup-button {
        display: contents;

        .button-label {
          display: none;
        }

        &-icon {
          cursor: pointer;
          display: initial;
        }
      }
    }
  }
}
