.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .top-button {
    margin-top: 25px
  }

  .table-section {
    display: flex;
    max-height: 50%
  }

  .side-area {
    width: 15%
  }

  .center-area {
    width: 70%
  }

  .counters {
    display: flex;
    flex-direction: column;

    div {
      margin: 25px 15px 0 15px;
    }
  }

  todo-form {
    margin-top: 15px;
  }

  todo-button {
    margin-top: 15px;
  }

  .dark {
    background-color: #e1e1e1;
  }

  .table-placeholder {
    margin: 20px 0 10px 0;
  }
}
