.todo-root-container, .button .button-label {
  font-size: calc(6px + 1vmin);
}

.todo-root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92%;

  @media screen and (max-height: 700px) {
    & {
      font-size: calc(8px + 1vmin);
    }
  }

  .todo-table-placeholder {
    margin: 0.5vmin 0 1vmin 0;
  }

  .top-button {
    margin-top: 4vmin;
  }

  .todo-button {
    margin-top: 1.5vmin;
  }

  .form {
    margin-top: 2vmin;
  }
}
